@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", serif;
    color: #443F3F;
}

.mainWrap {
    margin: 0 auto;
    max-width: 1200px  !important;
}

/* ------------------------------------------------------------ */

.first_block {
    position: relative;
    background: #ffffff url(../img/pair.png) no-repeat;
    background-color:black;
    background-size: 100%;
    background-position: 0%;
    height: 450px;
    color: white;
    margin: 0px;
    overflow: hidden;
}

.background {
    background-color:#041115;
}

h1 {
    position: relative;
    top: 130px;
    z-index: 14;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.logo {
    position: relative;
    top: -20px;
    font-family: 'Train One', cursive;
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
}

.header {
    position: relative;
    top: 165px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.header a {
    color: white;
    margin-right: 10px;
}

.header a:hover {
    color: #03C0DB;
}

/* ----------------------------------------------------------------- */

.second-block {
    overflow: hidden;
    display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1120px;
	min-height: 776px;
    flex-wrap:wrap;
    margin-left: 40px;
    margin-top: 70px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 444px;
}

.block-img {
    overflow: hidden;
    width: 550px;
    height: 360px;
}

.block p{
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
}

.block img {
    width: 550px;
    height: auto;
}


/* --------------------------------------------------------- */

table {
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    border: 1px solid black;
    display: block;
}


td {
    border-bottom: 1px solid black;
    height: 77px;
}

button {
    width: 292px;
    height: 62px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 100px;
    font-weight: bold;
    font-size: 30px;
}

.third-block {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1120px;
	min-height: 650px;
}


/* --------------------------------------------- */

.footer{
    color: #666666;
    font-size: 24px;
    line-height: 2;
    min-height: 159px;
    background-color: #1C1C1C;
}

.footer p {
    position: relative;
    top: 30px;
    left: 40px;
} 


.footer .icons {
    position: relative;
    left: 900px;
    top: -80px;
}

.icons{
    width: 265px;
    display: flex;
	justify-content: space-between;   
}


